body {
  font-family: Verdana, Tahoma, Sans-Serif;
  color: #810e15;
  background-color: white;
  text-align: left;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:active {
  color: #810e15;
}
a:hover {
  text-decoration: underline;
}
a:link {
  color: #1d1414;
}
a:visited {
  color: #1d1414;
}
.bold{
  font-weight: bold;
}

.white{
  color: white;
}
.icons {
  margin-top: 1em;
}
.as-icon-active {
  box-shadow: 0 3px 6px rgba(255, 255, 255, 0.6), inset 0 -3px 3px rgba(255, 255, 255, 0.4);
}
.top-header {
  display: block;
  overflow: hidden;
  background-color: #444444;
  padding-bottom: 0.25em;
  border-bottom: 2px solid #aa0000;
}
.footer {
  padding-top: 0.25em;
  border-top: 1px solid #aa0000;
}
.antismash-logo {
  float: left;
}
.antismash-title {
  margin: 1em 1em 0px 1em;
  float: left;
}

.antismash-title a {
  color: white;
  font-size: 120%;
  font-weight: bold;
}

.antismash-title a:hover {
  text-decoration: none;
}
#header {
  margin: 0px auto;
  display: block;
  border-bottom: 2px solid #810e15;
}
#header img {
  border: 0px;
  padding-left: 0.5em;
}
#icons {
  margin-top: 2em;
  float: left;
  font-size: 0.9em;
  min-height: 1.1em;
  overflow: visible;
}
#downloadmenu {
  border: 1px solid black;
  background-color: white;
  display: none;
  position: absolute;
  width: 20%;
}
#downloadoptions {
  list-style-type: none;
  padding: 0 0 0 0.2em;
}
#downloadoptions li {
  margin: 0;
}
#buttons {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  overflow: hidden;
}
#cluster-type {
  margin-left: 0.5em;
  text-transform: capitalize;
}
.page {
  overflow: hidden;
}
.page h3 {
  font-size: 90%;
  background-color: #810e15;
  color: white;
  margin: 0.1em 0 0.4em 0.1em;
  padding-left: 0.5em;
}
.sidepanel {
  display: block;
  float: right;
  border-left: 2px solid #810e15;
  width: 20%;
}
.structure img {
  width: 90%;
  height: auto;
}
.as-structure-warning {
  font-size: 60%;
}
.prediction-text {
  font-size: 75%;
  margin-left: 0.5em;
}
.content {
  display: block;
  max-width: 79%;
}
.cluster-type {
  margin: 0 0 0 0.5em;
  padding: 0;
}
#clusterbuttons {
  margin: 0 0 0 0.5em;
  padding: 0;
  list-style-type: none;
  min-height: 1.1em;
  min-height: 2em;
}
#clusterbuttons a:hover {
  text-decoration: none;
}
#clusterbuttons li {
  float: left;
  margin: 0;
  margin-right: 0.2em;
  border-radius: 50%;
  padding: 0.25em;
  min-width: 1.25em;
  min-height: 1.25em;
  text-align: center;
  vertical-align: middle;
}
.t1pks {
  background-color: #ffa500;
}
.t1pks a {
  color: #800080;
}
.t2pks {
  background-color: #f4a460;
}
.t2pks a {
  color: #800080;
}
.t3pks {
  background-color: #ffa07a;
}
.t3pks a {
  color: #800080;
}
.t4pks {
  background-color: #daa520;
}
.t4pks a {
  color: #800080;
}
.transatpks {
  background-color: #d2691e;
}
.transatpks a {
  color: #800000;
}
.nrps {
  background-color: #2e8b57;
}
.nrps a {
  color: #ffffff;
}
.terpene {
  background-color: #800080;
}
.terpene a {
  color: #ffffff;
}
.lantibiotic {
  background-color: #ffff77;
}
.lantibiotic a {
  color: #0000ff;
}
.lantipeptide {
  background-color: #ffff77;
}
.lantipeptide a {
  color: #0000ff;
}
.bacteriocin {
  background-color: #4169e1;
}
.bacteriocin a {
  color: #ffffff;
}
.ectoine {
  background-color: #9acd32;
}
.ectoine a {
  color: #b22222;
}
.melanin {
  background-color: #a0522d;
}
.melanin a {
  color: #ffffff;
}
.siderophore {
  background-color: #dc143c;
}
.siderophore a {
  color: #ffffff;
}
.butyrolactone {
  background-color: #9370d8;
}
.butyrolactone a {
  color: #ffffff;
}
.hserlactone {
  background-color: #d2b48c;
}
.hserlactone a {
  color: #000000;
}
.phenazine {
  background-color: #dda0dd;
}
.phenazine a {
  color: #000000;
}
.amglyccycl {
  background-color: #9acd32;
}
.amglyccycl a {
  color: #000000;
}
.blactam {
  background-color: #f0f8ff;
}
.blactam a {
  color: #000000;
}
.nucleoside {
  background-color: #faebd7;
}
.nucleoside a {
  color: #000000;
}
.phosphonate {
  background-color: #f5fffa;
}
.phosphonate a {
  color: #000000;
}
.indole {
  background-color: #ffdab9;
}
.indole a {
  color: #000000;
}
.hybrid {
  background-color: #b0c4de;
}
.hybrid a {
  color: #191970;
}
.other {
  background-color: #191970;
}
.other a {
  color: #b0c4de;
}
.putative {
  background-color: #f2f2f2;
}
.putative a {
  color: #000000;
}
.dha {
  font-weight: bold;
  color: mediumseagreen;
}
.dhb {
  font-weight: bold;
  color: mediumorchid;
}
.cys {
  font-weight: bold;
  color: royalblue;
}
.separator-text {
  font-size: 80%;
  padding-top: 1em;
}
.description-text,
.cluster-rules-header {
  font-size: 70%;
}
.alt-weight-desc {
  font-size: 70%;
  color: #1d1414;
}
.alt-weight-n {
  font-size: 70%;
  color: #1d1414;
  padding-left: 2.5em;
}
.cluster-download {
  font-size: 70%;
  float: right;
}
.cluster-rules {
  font-size: 70%;
  display: none;
  border: 1px solid #708090;
  background-color: #dddddd;
}
.description-container {
  padding-bottom: 1em;
  margin-left: 0.5em;
}
table {
  border-collapse: collapse;
}
#cluster-overview {
  padding: 0;
  margin-left: 0.5em;
}
#cluster-overview th {
  margin: 0.2em 0.5em;
  padding: 0 0.5em;
}
#cluster-overview .separator-row {
  background-color: #ddd;
}
#cluster-overview .separator-row td {
  padding-top: 1em;
}
#cluster-overview .even {
  background-color: #f1f1f1;
}
#cluster-overview td {
  margin: 0.2em 0.5em;
  padding: 0.2em 0.5em;
}
#cluster-overview .digits {
  text-align: right;
}
.tooltip {
  border: 2px solid #708090;
  background-color: #dddddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.svgene-type-other {
  fill: #808080;
  stroke: black;
}
.svgene-type-biosynthetic {
  fill: #810e15;
  stroke: black;
}
.svgene-type-transport {
  fill: #6495ed;
  stroke: black;
}
.svgene-type-regulatory {
  fill: #2e8b57;
  stroke: black;
}
.svgene-line {
  stroke-width: 1px;
  stroke: #888;
}
.svgene-locustag {
  fill: #810e15;
  display: none;
  font-size: 80%;
}
.svgene-tooltip {
  border: 2px solid #708090;
  background-color: #dddddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.svgene-tooltip-bold {
  font-weight: bold;
  font-size: 120%;
}
.legend-type-other {
  background-color: #808080;
}
.legend-type-biosynthetic {
  background-color: #810e15;
}
.legend-type-transport {
  background-color: #6495ed;
}
.legend-type-regulatory {
  background-color: #2e8b57;
}
.legend {
  font-size: 80%;
  overflow: hidden;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}
.legend h4 {
  margin-bottom: 0.5em;
}
.legend-field {
  float: left;
  width: 1em;
  height: 1em;
  margin-left: 1em;
  margin-right: 0.25em;
  border: 1px solid black;
}
.legend-label {
  float: left;
}
.details,
.clusterblast,
.subclusterblast {
  margin-left: 0.5em;
}
.jsdomain-line {
  stroke-width: 1px;
  stroke: #888;
}
.jsdomain-orflabel {
  fill: #810e15;
}
.jsdomain-tooltip {
  border: 2px solid #708090;
  background-color: #dddddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.clusterblast-locustag {
  fill: #810e15;
  display: none;
  font-size: 80%;
  position: absolute;
}
.clusterblast-tooltip {
  border: 2px solid #708090;
  background-color: #dddddd;
  display: none;
  position: absolute;
  font-size: 80%;
  padding: 0.5em;
  color: #810e15;
}
.clusterblast-acc {
  fill: #810e15;
  font-size: 80%;
  font-family: Verdana, Tahoma, Sans-Serif;
}
.clusterblast-desc {
  fill: #810e15;
  font-size: 80%;
  font-family: Verdana, Tahoma, Sans-Serif;
  font-size: 75%;
}
#footer {
  border-top: 2px solid #810e15;
}
#logos {
  float: left;
  padding-left: 0.5em;
  margin-top: 5px;
}
#logos img {
  padding-right: 25px;
}

#logo-table tr td {
  height: 50px;
  padding: 5px;
}

#copyright {
  font-size: 60%;
  float: right;
  width: 40%;
  margin-right: 1.5em;
  padding: 0.5em;
}
